USE [UchebnayaZIMA]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 27/11/2025 19:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 27/11/2025 19:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[EventID] [bigint] NOT NULL,
	[Event_Title] [nvarchar](max) NULL,
	[Event_Start_Time] [datetime] NULL,
	[Event_Duration] [int] NULL,
	[Event_logoURL] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event_EventType]    Script Date: 27/11/2025 19:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event_EventType](
	[Event_EvenTypeID] [bigint] NOT NULL,
	[FK_Event_ID] [bigint] NULL,
	[FK_EvenType_ID] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Event_EvenTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventType]    Script Date: 27/11/2025 19:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventType](
	[EventTypeID] [bigint] NOT NULL,
	[EventType_Name] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[EventTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 27/11/2025 19:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [bigint] NOT NULL,
	[Role_Name] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Section]    Script Date: 27/11/2025 19:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Section](
	[SecID] [bigint] NOT NULL,
	[Sec_Name] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[SecID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Section_Event]    Script Date: 27/11/2025 19:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Section_Event](
	[Sec_Event_ID] [bigint] NOT NULL,
	[FK_Sec_ID] [bigint] NULL,
	[FK_Event_ID] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Sec_Event_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sex]    Script Date: 27/11/2025 19:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sex](
	[SexID] [bigint] NOT NULL,
	[Sex_Name] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[SexID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Event]    Script Date: 27/11/2025 19:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Event](
	[User_Event_ID] [bigint] NOT NULL,
	[FK_User_ID] [bigint] NULL,
	[FK_Event_ID] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[User_Event_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Role]    Script Date: 27/11/2025 19:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Role](
	[User_Role_ID] [bigint] NOT NULL,
	[FK_User_ID] [bigint] NULL,
	[FK_Role_ID] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[User_Role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Sec]    Script Date: 27/11/2025 19:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Sec](
	[User_Sec_ID] [bigint] NOT NULL,
	[FK_User_ID] [bigint] NULL,
	[FK_Sec_ID] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[User_Sec_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Sex]    Script Date: 27/11/2025 19:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Sex](
	[User_Sec_ID] [bigint] NOT NULL,
	[FK_User_ID] [bigint] NULL,
	[FK_Sex_ID] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[User_Sec_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 27/11/2025 19:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [bigint] NOT NULL,
	[User_Name] [nvarchar](max) NULL,
	[User_Surname] [nvarchar](max) NULL,
	[User_Lastname] [nvarchar](max) NULL,
	[User_Email] [nvarchar](max) NULL,
	[User_BirthDay] [datetime] NULL,
	[User_Phone] [nvarchar](max) NULL,
	[User_Photo] [nvarchar](max) NULL,
	[User_Password] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Event_EventType]  WITH CHECK ADD  CONSTRAINT [FK_EventEventType_Event] FOREIGN KEY([FK_Event_ID])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[Event_EventType] CHECK CONSTRAINT [FK_EventEventType_Event]
GO
ALTER TABLE [dbo].[Event_EventType]  WITH CHECK ADD  CONSTRAINT [FK_EventEventType_EventType] FOREIGN KEY([FK_EvenType_ID])
REFERENCES [dbo].[EventType] ([EventTypeID])
GO
ALTER TABLE [dbo].[Event_EventType] CHECK CONSTRAINT [FK_EventEventType_EventType]
GO
ALTER TABLE [dbo].[Section_Event]  WITH CHECK ADD  CONSTRAINT [FK_SectionEvent_Event] FOREIGN KEY([FK_Event_ID])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[Section_Event] CHECK CONSTRAINT [FK_SectionEvent_Event]
GO
ALTER TABLE [dbo].[Section_Event]  WITH CHECK ADD  CONSTRAINT [FK_SectionEvent_Section] FOREIGN KEY([FK_Sec_ID])
REFERENCES [dbo].[Section] ([SecID])
GO
ALTER TABLE [dbo].[Section_Event] CHECK CONSTRAINT [FK_SectionEvent_Section]
GO
ALTER TABLE [dbo].[User_Event]  WITH CHECK ADD  CONSTRAINT [FK_UserEvent_Event] FOREIGN KEY([FK_Event_ID])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[User_Event] CHECK CONSTRAINT [FK_UserEvent_Event]
GO
ALTER TABLE [dbo].[User_Event]  WITH CHECK ADD  CONSTRAINT [FK_UserEvent_User] FOREIGN KEY([FK_User_ID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[User_Event] CHECK CONSTRAINT [FK_UserEvent_User]
GO
ALTER TABLE [dbo].[User_Role]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_Role] FOREIGN KEY([FK_Role_ID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[User_Role] CHECK CONSTRAINT [FK_UserRole_Role]
GO
ALTER TABLE [dbo].[User_Role]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_User] FOREIGN KEY([FK_User_ID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[User_Role] CHECK CONSTRAINT [FK_UserRole_User]
GO
ALTER TABLE [dbo].[User_Sec]  WITH CHECK ADD  CONSTRAINT [FK_UserSec_Section] FOREIGN KEY([FK_Sec_ID])
REFERENCES [dbo].[Section] ([SecID])
GO
ALTER TABLE [dbo].[User_Sec] CHECK CONSTRAINT [FK_UserSec_Section]
GO
ALTER TABLE [dbo].[User_Sec]  WITH CHECK ADD  CONSTRAINT [FK_UserSec_User] FOREIGN KEY([FK_User_ID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[User_Sec] CHECK CONSTRAINT [FK_UserSec_User]
GO
ALTER TABLE [dbo].[User_Sex]  WITH CHECK ADD  CONSTRAINT [FK_UserSex_Sex] FOREIGN KEY([FK_Sex_ID])
REFERENCES [dbo].[Sex] ([SexID])
GO
ALTER TABLE [dbo].[User_Sex] CHECK CONSTRAINT [FK_UserSex_Sex]
GO
ALTER TABLE [dbo].[User_Sex]  WITH CHECK ADD  CONSTRAINT [FK_UserSex_User] FOREIGN KEY([FK_User_ID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[User_Sex] CHECK CONSTRAINT [FK_UserSex_User]
GO
